// ---- color ----
$primary-color = #F0250F   
$normal-color = #848484   
$link-color = $primary-color   
$link-hover-color = darken($link-color, 80%)
$title-color = #2D2D2D   
$text-color = #848484   
$light-color = #F6F6F6   
$dark-color = #DADADA   
// ---- base ----
$body-background = #F6F6F6   
$mask-bg = rgba(0, 0, 0, 0.5)   
$font-family = PingHei,
"Lucida Grande",
"Lucida Sans Unicode",
STHeiti,
Helvetica,
Arial,
Verdana,
"sans-serif",
"PingHei-light",
SimHei,
"Droid Sans"   
$font-size-base = 14px   
$font-size-small = 12px   
$font-size-large = 16px   
$line-height-base = 1.5   
$border-radius-base = 8px   
$border-radius-small = 3px   
$border-radius-large = 50px   
// ---- Animation ----
$animation-duration = .25s   
$transition-duration = .2s   
$transition-duration-fast = .2s   
$transition-duration-slow = .4s   
$animation-timing-fun = cubic-bezier(0.55, 0.085, 0.68, 0.53)   
$ease-in-out = cubic-bezier(0.445, 0.05, 0.55, 0.95) 
$ease-out = cubic-bezier(0.895, 0.03, 0.685, 0.22) 
// ---- Border color ----
$border-color-base = $dark-color   
$border-color-dark = #ABABAB   
$border-width-base = 1px   
$border-style-base = solid   
$border-color-active = $primary-color   
// ---- Disabled ----
$disabled-color = #F6F6F6   
$disabled-bg = #DADADA   
$disabled-primary-bg = #eb8a7e   
// ---- Shadow ----
$shadow-color = rgba(0, 0, 0, .15)   
$shadow-up = 0 -2px 8px $shadow-color   
$shadow-down = 0 2px 8px $shadow-color   
$shadow-left = -2px 0 8px $shadow-color   
$shadow-right = 2px 0 8px $shadow-color   
$shadow-base = $shadow-down   
// ---- Buttons ----
$btn-font-weight = normal   
$btn-border-radius-base = 8px   
$btn-border-radius-small = 3px   
$btn-border-radius-large = 50px   
$btn-height-small = 30px   
$btn-height-big = 40px   
$btn-icon-height-small = 12px   
$btn-icon-height-big = 16px   
$btn-menu-icon-height = 20px   
$btn-menu-height = 50px   
$btn-primary-color = #FFF   
$btn-primary-bg = $primary-color   
$btn-gradient-color = #FFF   
$btn-gradient-start-color = #ff4f18 
$btn-gradient-end-color = #f20000 
$btn-gradient-bg = linear-gradient(315deg, $btn-gradient-start-color 0%, $btn-gradient-end-color 100%)   
$btn-gradient-active-bg = linear-gradient(315deg, darken($btn-gradient-start-color, 10%) 0%, darken($btn-gradient-end-color, 10%) 100%)   
$btn-default-color = $normal-color   
$btn-default-bg  = #FFF   
$btn-default-border = $border-color-dark   
$btn-active-color = #FFF   
$btn-active-bg = $primary-color   
$btn-active-border = $primary-color   
$btn-disable-color = $disabled-color   
$btn-disable-bg = $disabled-bg   
$btn-disable-border = $disabled-color   
$btn-icon-margin = 5px 
$btn-label-light-bg = rgba(240, 37, 15, .05) 
// ---- z-index ----
$zindex-mask = 9998   
$zindex-actionsheet = 10001   
$zindex-dialog = 10000   
$zindex-picker = 10050   
// ---- Assets path ----
$assetsPath ='../../assets'   